body {
  font: 16px/1.5 sans-serif;
}

.modal {
  width: 50vw;
  height: 40vh;
  border: 15px solid #5bcef3;
  background-color: #b4eafb;
  border-radius: 10px;
  font-size: 30px;
  position: absolute;
  left: 200px;
}

button {
  width: 80px;
  height: 25px;
}

.exit {
  color: black;
  width: 30px;
  border-radius: 3px;
  position: absolute;
  right: 0;
  top: 0;
}

.ok {
  background-color: #28a745;
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}

/* sem přijdou tvoje styly */

.napoveda {
  font-size: 1.5em;
  width: 200px;
  height: 80px;
  text-align: center;
  font-weight: 800;
  border-radius: 5px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-10px, 10px);
}

